[color]
  diff = auto
  status = auto
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added     = cyan bold
    branch    = cyan bold
    changed   = magenta bold
    deleted   = red bold
    untracked = yellow bold
[push]
	default = current
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = false
    editor = nano
[sequence]
	editor = rebase-editor
[include]
    path = ~/.gitconfig.local