[user]
	name = Bryce Osterhaus
	email = bryce.osterhaus@liferay.com
[alias]
[color]
  diff = auto
  status = auto
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added     = cyan bold
    branch    = cyan bold
    changed   = magenta bold
    deleted   = red bold
    untracked = yellow bold
[push]
    # 'git push' will push the current branch to its tracking branch
    # the usual default is to push all branches
	default = current
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = false
    editor = nano
[credential "https://gitlab.com/"]
	username = bryceosterhaus@gmail.com
[sequence]
	editor = rebase-editor -c --
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
